.App {
	width: 300px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #FFF;
}
.App h2 {
	text-align: center;
	color: #4d4d4d;
	font-size: 24px;
	padding: 20px 0 20px 0;
}
.App span {
	text-align: start;
	color: red;
	font-size: 10px;
}
.App legend,label {
	text-align: start;
	font-size: 25px;
}
.App input {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}
.App button {
	width: 100%;
	padding: 15px;
	margin: 5px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}
.App button:disabled, button[disabled] {
	background-color: grey;
}

